<!-- File name: app.css 
Student’s Name: Hemal Vaghela
StudentID: 301289095 
Date: June 4, 2023 -->

  
  <!-- Script Section -->  
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
