<!-- File name: app.css 
Student’s Name: Hemal Vaghela
StudentID: 301289095 
Date: June 4, 2023 -->


<!-- Footer Section -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Copyright 2023, All rights reserved.</h6>        
  </nav>